body {
    display: flex;
    justify-content: space-around;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    height: 672px;
    width: 672px;
    padding: 0;
    margin: 0;
    border: 0;
    gap: 0;
}

div {
    display: flex;
    padding: 0;
    margin: 0;
    height: 40px;
    width: 40px;
}

div {
    border: 1px solid black;
}