body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#grid {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

div  {
    box-sizing: border-box;
    width: 50px;
    height: 50px;    
    border: 1px solid black;

}

.hover {
    background-color: black;
}